<h1>Welcome to my Ruby on Rails Blog!</h1>
<p>This website is a project I created during the CodeCore Web Development Bootcamp.</p>
<p>It's in constant flux as I add new features and change existing elements. </p>
